
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    background-color: #ffffff;
    margin: 0;
    font-family: 'Press Start 2P', cursive;
}

.h1-container{
    /*width: 100%;*/
    align-items: center;
}
.p-container {
    display: flex;
    margin-top: 50px;
    /*width: 100%;*/
    align-items: center;
}

h1 {
    font-family: 'Press Start 2P', cursive;
    /*font-size: 10px;*/
}

p {
    font-family: 'Press Start 2P', cursive;
    /*font-size: 6px;*/
}

.typewriter {
    overflow: hidden;
    border-right: .15em solid rgb(0, 0, 0); 
    white-space: nowrap;
    margin: 0 auto; 
    /*letter-spacing: .40em;*/
    visibility: hidden; 
}

.show {
    animation:  typingp 4s steps(40, end) forwards, 
                blink-caret .75s step-end infinite;
    visibility: visible; 
    visibility: visible; 
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes typingp {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(0, 0, 0) }
}

/* Animation for h1 */
.start-typing #title {
    animation: typing 4s steps(40, end) forwards,
                blink-caret .75s step-end infinite;
    visibility: visible; /* Ensure the title is visible when animation starts */
}

/* Animation for p */
/*
.start-typing #message {
    animation: typingp 6s steps(60, end) 4.2s forwards, 
                blink-caret .75s step-end infinite;
    visibility: hidden; 
}*/